<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
    <meta charset="UTF-8">
    <title>Title</title>
    </head>
        <body>
        <ul>
            <li><a href="/">Главная страница</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/authenticated">Аутентифицированная </a></li>
            <li sec:authorize="isAnonymous()"><a href="/login">Войти</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/logout">Выйти</a></li>
        </ul>
        <h1>Страница доступная только пользователям прошедшим аутентификацию</h1>

        </body>
</html>